h1 {
    color: #b366ff;
    margin: auto;
    font-size: 60px;
  }

  body {
    margin: auto;
    color:white;
   
  }

  .header {
    padding: 0px;
    text-align: center;
    background-color: pink;
    margin: 0px;
  }

  li a {
    display: inline;
    white-space: nowrap;
    float: left;
    width: 20%; 
    color: #ffe6ff;
    font-size: 17px;
    text-align: center;
    padding: 10px 12px;
    text-decoration: none;
    border-style: outset;
    border-color: #6600cc;
    box-sizing: border-box;
    height: 45px;
  }

  ul{
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    background-color: #b366ff;
    position:-webkit-sticky; 
    position: sticky;
    width: 100%;
    padding-left: 0;
  }

  .mainview{
    background-color: rosybrown;
    margin: auto;
    display: flow-root;
  }
  .copyright {
    background-color:black;
    opacity:0.7;
    text-align: center;
    padding: 16px;
  }

  pre{
    margin:0px;
  }
  .responsive {
    padding: 0 6px;
    float: left;
    width: 24.99999%;
  }

  p,i{
    color:black;
  }
  